* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

/* banner đầu trang */

#banner {
    position: relative;
    background: url('/assets/images/header.png');
    background-size: 100% 100%;
    height: 300px;
}

.sub-banner {
    background: url('/assets/images/thptlehongphong.jpeg');
    background-size: 100% 100%;
    width: 52%;
    height: 228px;
    float: right;
    margin-top: 28px;
}

/* thanh đăng nhập */

.log-in {
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;
    height: 27px;
    line-height: 27px;
    text-align: center;
}

.log-in>ul>.right-solid {
    border-right: 1px solid #fff;
}

.log-in>ul>li {
    display: inline-block;
    list-style-type: none;
}

.log-in>ul>li>a {
    text-decoration: none;
    padding: 20px;
    font-size: large;
    color: #fff;
    font-style: italic;
}

.log-in>ul>li>a:hover {
    color: red;
    font-weight: bold;
    font-variant: small-caps;
    text-decoration: underline;
}

/* thanh menu */

#header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 46.5px;
    background-color: rgb(60, 158, 255);
    z-index: 1;
}

#nav {
    display: inline-block;

}

#nav,
.sub-nav,
.sub-nav2 {
    list-style-type: none;
}

#nav>li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav>li>a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;

}

#nav li a {
    text-decoration: none;
    line-height: 46.5px;
    padding: 0 20px;
    display: block;

}

#nav li:hover .sub-nav {
    display: block;
}

#nav li:hover .sub-nav2 {
    display: block;
}

#nav>li:hover>a,
#nav .sub-nav li:hover a,
#nav .sub-nav2 li:hover a {
    color: #000;
    background-color: #ccc;
}

#nav .sub-nav,
#nav .sub-nav2 {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    min-width: 188px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

#nav .sub-nav a,
#nav .sub-nav2 a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

/* tìm kiếm */

#header .input-search {
    display: inline-block;
}

#header .search {
    float: right;
    padding: 0 20px;
    background-color: red;
}

#header .search-icon {
    font-size: 22px;
    line-height: 46.5px;
}

#header .search:hover {
    background-color: #ccc;
}

#header .look-up {
    height: 26px;
    font-size: 18px;
    border-radius: 4px;
    border: 1px solid gray;
    color: gray;
    margin-left: 230px;
}

#header .look-up:focus {
    color: #000;
    font-size: 18px;
    box-shadow: 0 0 10px rgb(159, 249, 255);
}

/* animation */

.animation {
    height: 40px;
    display: flex;
}

#time {
    line-height: 40px;
    margin-left: 20px;
    font-weight: bold;
}

.text-run {
    line-height: 40px;
    right: 5%;
    width: 75%;
    position: absolute;
    color: red;
    font-weight: bold;
    font-style: italic;
}

/* content */

.container {
    margin: 0 80px;
}

.container-content {
    display: flex;
    margin-top: 10px;
    gap: 20px;
}

.left-content {
    width: 30%;
}

.title-content {
    background-color: rgb(60, 158, 255);
    color: #fff;
    text-align: center;
    line-height: 46.5px;
    margin-bottom: 10px;
}

/* hoạt động sự kiện */

.event {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 10px;
    color: blueviolet;
    border-bottom: 1px solid gray;
    border-radius: 10px;
    line-height: 20px;
    cursor: pointer;
}

.event h5 {
    text-decoration: underline;
}

.event:hover {
    background-color: lightgrey;
}

.event:hover span {
    color: #fff;
}

.img-event img {
    width: 100px;
    height: 80px;
    object-fit: cover;

}

.title-event span,
.news span {
    font-size: 12px;
    color: gray;
}

/* tin tức nổi bật */

.center-content {
    width: 40%;
}

.news h4>a {
    color: rgb(60, 158, 255);
    line-height: 30px;
    text-decoration: none;
}

.news h4>a:hover {
    color: red;
    text-decoration: underline;
}

.news img {
    object-fit: cover;
    height: 300px;
    border-radius: 15px;
}

.news p {
    font-size: 16px;
    padding-top: 10px;
    line-height: 20px;
    text-align: justify;
}

/* Liên kết điều hành */

.right-content {
    width: 30%;
}

.control-panel .list-menu {
    list-style-type: none;
    width: 100%;
    border: 1px solid rgb(60, 128, 255);
    border-radius: 5px;
}

.list-menu li {
    height: 46.5px;
    line-height: 46.5px;
    margin: 25px;
    border-radius: 10px;
    background: -webkit-linear-gradient(rgb(60, 128, 255), rgb(156, 195, 240));
}

.list-menu li:hover {
    background: lightpink;
    padding-left: 25px;
}

.list-menu a {
    text-decoration: none;
    font-weight: 600;
    color: #fff;
    align-items: center;
    padding: 0 50px;
}

.list-menu i {
    font-size: 18px;
    padding-right: 10px;
}

/* Slider */

#silder {
    width: 100%;
    height: auto;
}

#slider .container-slider {
    width: 100%;
    height: 250px;
    background: url('/assets/images/slider5.jpg') top center / cover no-repeat;
    background-size: 100% 100%;
    margin-top: 30px;
    margin-bottom: 10px;
}

#slider .container-slider2 {
    width: 100%;
    height: 250px;
    background: url('/assets/images/slider3.png') top center / cover no-repeat;
    background-size: 100% 100%;
    margin-bottom: 20px;
} 

/* content 2 */

#content2 {
    height: auto;
}

/* left content 2 */

.container-content2 {
    width: 100%;
    height: auto;
    padding: 10px 70px;
    display: flex;
    gap: 20px;
}

.left-content2 {
    width: 25%;
    height: auto;
    border: 1px solid rgb(60, 128, 255);
    background: -webkit-linear-gradient(rgb(241, 234, 241), rgb(213, 243, 255));

}

.title-content2 {
    background-color: rgb(60, 158, 255);
    color: #fff;
    text-align: center;
    line-height: 35px;
}

.resource {
    width: 100%;
    height: auto;
}

.list-resource {
    width: 100%;
    list-style-type: none;
    font-weight: bold;
}

.list-resource li {
    padding: 10px;
}


.list-resource a {
    text-decoration: none;
    line-height: 20px;
    color: #000;
}

.list-resource a:hover {
    text-decoration: underline;
    color: red;
}

.list-resource li i  {
    color: rgb(60, 128, 255);
    font-size: 20px;
    padding-right: 10px;
}

.img-resoucre, .img-resoucre2 {
    width: 100%;
    height: auto;
}

.img-resoucre2 {
    display: flex;
    object-fit: cover;
    height: 150px;
}

.sub-img-resoucre {
    width: 50%;
    padding: 2px;
}

.see-more  {
    color: red;
    padding-top: 320px;
    padding-right: 15px;
    float: right;    
    font-weight: bold;
    font-size: 18px;
}
 .see-more a:hover {
    color: red;
}

.see-more a {
    text-decoration: none;
    color: #b22f36;
}

/* right content 2 */

.right-content2 {
    width: 75%;
    height: auto;
    border: 1px solid rgb(60, 128, 255);

}

.document-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.document {
    margin-top: 10px;
    width: 30%;
}

.title-cocument {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img-document {
    width: 100%;
    height: 200px;
}

.img-document img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.title-cocument h4 a {
    line-height: 25px;
    text-decoration: none;
    color: blueviolet;
}

.title-cocument a:hover {
    color: red;
    text-decoration: underline;
}

.title-cocument > span {
    margin-top: 15px;
    font-size: 12px;
    line-height: 40px;
    color: gray;
}

.title-cocument .sub-title-cocument {
    margin-top: 40px;
}

/* độ mờ ảnh */

.img-resoucre2 img:hover,
.sub-img-resoucre-end img:hover,
.right-content2 img:hover {
    opacity: 0.5;
}

/* Video  */

.container-video {
    width: 100%;
    height: auto;
}

.video > video{
    width: 100%;
    /* height: 400px; */
}

.video h4 {
    width: 100%;
    text-align: center;
    color: rgb(60, 158, 255);
    line-height: 45px;
}

.video p {
    line-height: 25px;
    text-align: justify;
    padding: 0 15px;
}

.fb-like {
    padding-top: 20px;
    padding-left: 15px;
}


/* Contact */

#banner-footer {
    position: relative;

    width: 100%;
    height: auto;
}

#banner-footer > .banner2 {
    position: relative;
    width: 100%;
    height: 680px;
    background: url('/assets/images/anhtapthethayco.jpg') top center / cover no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    margin-top: 30px;
}

/* Thông tin liên hệ */

.contact {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 59, 131, 0.767);
}

.container-contact {
    
    display: flex;
    gap: 50px;
    padding: 0 100px;
    padding-top: 80px;
}

.title-contact {
    width: 100%;
    line-height: 46px;
    padding-top: 100px;
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.03em;
}

.bottom-title-contact {
    width: 100%;
    min-height: 12px;
    background: url('/assets/images/banner-contact.png') center no-repeat;
}

.table-contact {
    color: #fff;
    width: 50%;
    height: 200px;
}

.table-contact table {
    width: 100%;
    height: 100%;
    text-align: justify;
    font-size: 18px;
    border-collapse: collapse;
}

.table-contact table i {
    font-size: 25px;
    color: orangered;
    padding-right: 10px;
}

.table-contact td {
    padding-left: 15px;
}

.map-contact {
    width: 50%;
    height: 380px;
}

.info {
    padding-left: 10px;
    font-size: 35px;
    line-height: 60px;
    font-family: Brush Script MT;
    color: orangered;
    background: url('/assets/images/banner-contact.png') bottom left no-repeat;
    background-size: 50%;
    
}

.img-info {
    margin-top: 20px;
}

.img-info ul li {
    display: inline;
    padding-left: 30px;

}

.img-info li a {
    line-height: 30px;
    text-align: center;
    display: inline-block;
    width: 50px;
    height: 50px;
    padding-left: 15px;
    color: rgba(0, 59, 131, 0);
}

.img-info i {
    color: #fff;
    font-size: 30px;
}

.img-info .ti-facebook:hover {
    color: blue;
}

.img-info .ti-youtube:hover {
    color: red;
}

.img-info .ti-instagram:hover {
    color: orange;
}

.img-info .ti-google:hover {
    color: red;
}

.img-info .ti-twitter-alt:hover {
    color: skyblue;
}

#footer {
    color: #fff;
    background-color: rgb(130, 0, 124);
    width: 100%;
    line-height: 30px;
    text-align: center;
    height: 30px;
}